/* Fonts */

@font-face {
  font-family: "Open Sans normal";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v18-latin_cyrillic-300.woff2");
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v18-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Gilroy bold";
  src: url("../fonts/Gilroy-Extrabold.woff2");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy normal";
  src: ("../fonts/Gilroy-Light.woff2");
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-hafl-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --status-pink: #f6dada;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  font-family: "Gilroy bold", Arial, sans-serif;
  color: var(--basic-black);
  box-sizing: border-box;
}

.page a {
  text-decoration: none;
  color: var(--basic-black);
}


.main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ul,
.page-footer ul {
  list-style: none;
}

.page-footer a {
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.category-menu {
  position: relative;
  z-index: 1;
  width: 1040px;
  display: none;
}

.category-menu-item {
  text-transform: none;
}

.category-menu-item {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.product-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.button {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.table-cell {
  font-family: "Gilroy normal", Arial, sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.table-header {
  font-family: "Gilroy normal", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
}

.categories-item {
  font-size: 18px;
  line-height: 22px;
}

.features {
  background-color: var(--basic-grey-light);
  width: 100%;
  margin: 0 auto;
}

.feature-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
}

.about-us-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
}

.about-us-item {
  font-size: 16px;
  line-height: 28px;
}

.contacts-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
}

.page-footer {
  background-color: var(--basic-dark);
}

.footer-features-list {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
}

.footer-link {
  color: var(--basic-white);
}

.footer-user-nav-item {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.footer-user-links {
  color: var(--basic-white);
  opacity: 70%;
}

.footer-user-links:hover {
  opacity: 100%;
}

.footer-features-item:hover,
.htmlacademy-logo:hover,
.category-menu-item:hover,
.nav-link:hover,
.user-links:hover {
  opacity: 60%;
}

.footer-user-links:active,
.nav-link:active,
.htmlacademy-logo img:active,
.categories-list .button:active,
.category-menu-links:active,
.user-links:active,
.categories-item-link:active p {
  opacity: 30%;
}

.category {
  background-color: var(--special-yellow);
  width: 160px;
  min-height: 160px;
}

.category:hover {
  background-color: var(--special-yellow-dark);
}

.category:active {
  background-color: var(--special-yellow-dark);
}

address,
.number {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.breadcrumbs-item {
  font-family: "Open sans normal", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  opacity: 30%;
  margin-right: 40px;
}

.filter-header,
.sorting {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.filter-title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.sorting-item {
  font-family: "Open sans normal", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  opacity: 30%;
  margin: auto 0;
  margin-right: 30px;
}

.current {
  opacity: 100%;
}

.toddler {
  font-family: "Gilroy normal", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.filter-item {
  font-family: "Open sans normal", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.price {
  font-family: "Gilroy normal", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0 3px 0 0;
}

.product-card-title {
  font-size: 18px;
  line-height: 22px;
  width: 260px;
  letter-spacing: 0.05em;
  margin: 0;
}

.product-item {
  font-size: 18px;
  line-height: 22px;
}

.compare-button {
  font-family: "Open sans normal", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  opacity: 50%;
}

.product-item-container {
  width: 360px;
}

.product-link {
  background-color: var(--basic-grey-light);
  display: block;
  width: 360px;
  height: 380px;
}

.pages-list {
  display: flex;
  justify-content: space-between;
  min-width: 90px;
  margin: 0 0 0 15px;
  padding: 0;
}

.pagination-item {
  font-size: 16px;
  line-height: 20px;
}

.pagination-item:nth-child(1),
.pagination-item:nth-child(3) {
  padding: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.pagination-item:nth-child(1):hover,
.pagination-item:nth-child(3):hover {
  background-color: #d9d9d9;
}

.pagination-item:nth-child(1):active,
.pagination-item:nth-child(3):active {
  opacity: 30%;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 10%;
}

.sorting-item:hover {
  opacity: 60%;
}

.sorting-item:active {
  opacity: 100%;
}

.compare-button:hover {
  opacity: 100%;
}

.compare-button:active {
  opacity: 20%;
}

.pagination-link {
  opacity: 30%;
}

.pagination-link:hover {
  opacity: 60%;
}

.current-link,
.pagination-link:active {
  opacity: 100%;
}

.social-icons-item {
  opacity: 30%;
}

.social-icons-item:hover,
.main-logo:hover,
.main-logo-footer:hover {
  opacity: 60%;
}

.main-logo {
  margin-left: 60px;
}

.social-icons-item:active {
  opacity: 10%;
}

.main-logo:active,
.main-logo-footer:active {
  opacity: 30%;
}

.title {
  font-size: 47px;
  line-height: 58px;
}

.slide-number-item {
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  display: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  width: 1160px;
  min-height: 186px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: var(--special-yellow);
}

.main-header {
  min-height: 300px;
}

.popular-products {
  margin: 0 auto;
  width: 1160px;
}

.slider-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popular-products {
  margin-bottom: 96px;
}

.categories {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 84px;
}

.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.feature-wrapper {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  grid-template-columns: 300px 500px 1fr;
  gap: 100px;
  margin-bottom: 90px;
}

.popular-brands {
  margin: 0 auto;
  width: 1160px;
}

.brand-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1160px;
  gap: 40px;
  margin-bottom: 90px;
}

.info-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1160px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 77px;
}

.wrapper {
  padding-left: 120px;
  padding-bottom: 50px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.catalog-wrap-header {
  background-image: linear-gradient(to right, #dcdcdc 0, #dcdcdc 28%, var(--basic-grey-light) 28%, var(--basic-grey-light) 100%);
}

.catalog-wrap-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-wrap-content {
  background-image: linear-gradient(to right, var(--basic-grey-light) 0, var(--basic-grey-light) 28%, var(--basic-white) 28%, var(--basic-white) 100%);
}

.filter-header {
  display: block;
  width: 200px;
  background-color: #dcdcdc;
  display: block;
  padding: 25px 68px 25px 60px;
  margin: 0;
}

.catalog-wrap-header-sort {
  display: flex;
}

.catalog-wrap-filter {
  box-sizing: border-box;
  width: 330px;
  padding-left: 60px;
  padding-top: 70px;
  background-color: var(--basic-grey-light);
}

.card-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  display: grid;
  grid-template-columns: 360px 360px;
  padding-top: 70px;
  padding-left: 72px;
  background-color: var(--basic-white);
}

.sorting {
  padding: 0;
  margin: auto 0;
  margin-left: 72px;
  margin-right: 74px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
}

.sort-buttons {
  display: flex;
  margin: auto 0;
}

.button-up {
  margin-right: 20px;
}

.filter {
  width: 268px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 1040px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  justify-content: space-between;
}

.main-navigation {
  width: 1040px;
  margin: 0 auto;
}

input[type="search"] {
  /* width: 144px;
  margin-right: 100px;
  padding-right: 296px; */
}

.header-top {
  display: flex;
  margin: 44px auto 50px;
  width: 1040px;
  justify-content: space-between;
}

.user-navigation {
  margin: 0;
  padding: 0;
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exit-link {
  opacity: 30%;
}

.page-footer .container {
  display: flex;
  padding: 46px 0 57px;
  box-sizing: border-box;
}

.footer-column-first {
  width: 400px;
}

.main-logo-footer {
  display: block;
  margin-top: 18px;
  margin-bottom: 40px;
}

.footer-column-second {
  margin: 0;
  padding: 0;
  width: 440px;
}

.footer-features-item {
  margin-right: auto;
}

.footer-features-item:nth-child(3n) {
  margin: 0;
}

.social-icons-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 136px;
  margin: 0 auto;
}

.social-icons-item {
  width: 32px;
  flex: 32px 32px auto;
  margin-right: 20px;
}

.social-icons-item:nth-child(3n) {
  margin: 0;
}

.footer-features-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 97px auto 67px;
}

.footer-column-third {
  padding: 0;
  margin: 0;
  width: 360px;
}

.footer-user-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 35px;
  margin-top: 0;
  margin-bottom: 77px;
}

.number {
  display: block;
  margin-left: 196px;
  margin-bottom: 67px;
  width: 164px;
}

.htmlacademy-logo {
  display: block;
  width: 34px;
  margin-left: 333px;
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
  display: none;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  box-sizing: border-box;
  background-color: var(--basic-grey-light);
}

.sort-wrapper {
  background-color: var(--basic-grey-light);
  display: flex;
  padding: 25px 0;
}

.pagination {
  width: 760px;
  margin: 40px 40px 78px 72px;
}

.breadcrumbs-list {
  display: flex;
}

.site-nav-item:first-child {
  margin-right: 289px;
}

.site-nav-item:nth-child(2) {
  margin-right: 38px;
}

.site-nav-item:nth-child(3) {
  margin-right: 111px;
}

.user-nav-cart {
  margin-left: 63px;
}

.user-nav-exit {
  margin-left: 20px;
  margin-right: 88px;
}

.user-nav-login {
  margin-right: 239px;
}
