/* Fonts */

@font-face {
  font-family: "Open Sans normal";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v18-latin_cyrillic-300.woff2");
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v18-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Gilroy bold";
  src: url("../fonts/Gilroy-Extrabold.woff2");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy normal";
  src: ("../fonts/Gilroy-Light.woff2");
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-hafl-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --status-pink: #f6dada;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy bold", Arial, sans-serif;
  color: var(--basic-black);
}

.page a {
  text-decoration: none;
  color: var(--basic-black);
}

.page footer a {
  color: var(--basic-white);
}

.page ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.titles {
  font-size: 47px;
  line-height: 58px;
}

.main-header {
  background-color: var(--special-yellow);
}

.site-navigation {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}

.user-navigation {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

/* .category-menu {
  visibility: hidden;
} */

.category-menu-item {
  text-transform: none;
}

.category-menu-item {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.market-title,
.category-title {
  display: none;
}

.product-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.button {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.table-cell {
  font-family: "Gilroy normal", Arial, sans-serif;
  font-size: 36px;
  line-height: 42px;
}

.table-header {
  font-family: "Gilroy normal", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
}

.categories-item {
  font-size: 18px;
  line-height: 22px;
}

.features {
  background-color: var(--basic-grey-light);
}

.feature-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
}

.about-us-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
}

.about-us-item {
  font-size: 16px;
  line-height: 28px;
}

.contacts-description {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
}

.page-footer {
  background-color: var(--basic-dark);
}

.footer-features-list {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}

.footer-link {
  color: var(--basic-white);
}

.footer-user-nav-item {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.footer-user-links {
  color: var(--basic-white);
  opacity: 70%;
}

.footer-user-links:hover {
  opacity: 100%;
}

.footer-features-item:hover,
.htmlacademy-logo:hover,
.category-menu-item:hover,
.advantages-links:hover {
  opacity: 60%;
}

.footer-user-links:active,
.advantages-links:active,
.htmlacademy-logo img:active,
.categories-list .button:active,
.category-menu-links:active,
.user-links:active,
.categories-item-link:active p {
  opacity: 30%;
}

.category {
  background-color: var(--special-yellow);
  width: 160px;
  height: 160px;
}

.category:hover {
  background-color: var(--special-yellow-dark);
}

.category:active {
  background-color: var(--special-yellow-dark);
}

address,
.number {
  font-family: "Open Sans normal", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}
